/*!
 * bootstrap-star-rating v4.0.6
 * http://plugins.krajee.com/star-rating
 *
 * Author: Kartik Visweswaran
 * Copyright: 2013 - 2019, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD 3-Clause
 * https://github.com/kartik-v/bootstrap-star-rating/blob/master/LICENSE.md
 */

 .error { color: #ff0000; }
 .success { color: green; }
.rating-loading {
    width: 25px;
    height: 25px;
    font-size: 0;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}

div#ratenow { text-align: center; }
form#rateSearch .rateText {
    display: inline-table;
    margin-right: 50px;
    font-weight: bold;
    font-size: 30px;
    vertical-align :middle;
}

form#rateSearch .rating-container {
    display: inline-table;
    margin-right: 50px;
}

form#rateSearch input#submitRating {
    padding: 0 12px;
}

.tatal-rating a { color: #f68e2f; }

/*
 * Stars & Input
 */
.rating-container .rating-stars .dashicons, .dashicons-before:before{  width: 30px; width: 30px; font-size: 30px;  }
.rating-container .rating-stars {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
}

.rating-container .rating-input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    font-size: 1px;
    border: none;
    background: none;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.rating-container.is-display-only .rating-input,
.rating-container.is-display-only .rating-stars {
    cursor: default;
}

.rating-disabled .rating-input, .rating-disabled .rating-stars {
    cursor: not-allowed;
}

.rating-container .star {
    display: inline-block;
    margin: 0 2px;
    text-align: center;
}

.rating-container .empty-stars {
    color: #f68e2f;
}

.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #f68e2f;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px #777;
    text-shadow: 1px 1px #f68e2f;
}

.rating-rtl {
    float: right;
}

.rating-animate .filled-stars {
    transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
    left: auto;
    right: 0;
    transition: none;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.rating-rtl.is-star .filled-stars {
    right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
    margin-right: 0.07em;
}

/**
 * Clear
 */
.rating-container .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
}

.clear-rating-active {
    cursor: pointer !important;
}

.clear-rating-active:hover {
    color: #843534;
}

.rating-container .clear-rating {
    padding-right: 5px;
}

/**
 * Caption
 */

/* extend support to BS4 */
.rating-container .caption .label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: transparent;
}



.rating-container .caption .label-default { color: #8c8989; }
.rating-container .caption .label-danger { color: #ff0000; }
.rating-container .caption .label-warning { color: #f68e2f; }
.rating-container .caption .label-info { color: #5bc0de; }
.rating-container .caption .label-primary { color: #337ab7; }
.rating-container .caption .label-success { color: #02a902; }

.rating-container .caption {
    color: #999;
    display: flex;
    vertical-align: middle;
    line-height: 1;
}

.rating-container .caption {
    margin-left: 0;
    margin-right: 0;
}

.rating-rtl .caption {
    margin-right: 5px;
    margin-left: 0;
}

/**
 * Print
 */
@media print {
    .rating-container .clear-rating {
        display: none;
    }
}

/**
 * Sizes
 */
.rating-xl  {
    font-size: 48px;
}
.rating-lg  {
    font-size: 40px;
}
.rating-md  {
    font-size: 32px;
}
.rating-sm  {
    font-size: 24px;
}
.rating-xs  {
    font-size: 16px;
}

.rating-xl .caption {
    font-size: 20px;
}
.rating-lg .caption {
    font-size: 18px;
}
.rating-md .caption {
    font-size: 16px;
}
.rating-sm .caption {
    font-size: 14px;
}
.rating-xs .caption {
    font-size: 12px;
}
